<launch>
  
  <node name="vrmapping" pkg="vrmapping" type="vrmapping_node" output="screen">
  <rosparam file="$(find vrmapping)/config/parameters.yaml" command="load" />
  </node>
  <!-- <include file="$(find vrmapping_ui)/launch/vrm_ui_jy.launch"/> -->
  <node pkg="rviz" type="rviz" name="vrmapping_rviz" output="screen" args="-d $(find vrmapping)/rviz/vrm.rviz">
  </node>
</launch>